<!--

Dynamic Sites Confiuration File
Adds:
1) Event Handlers to Update Custom Chosen Templates with Dynamic Sites Base Template
2) Dyanamic Site setting. Used for purposes of a dynamic site. Always place before website.
3) 4 Sitecore Settings. Modify only if you know what you're doing.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.SharedSource.DynamicSites.Events.ItemHandler, Sitecore.SharedSource.DynamicSites" method="OnItemSaved" />
      </event>
    </events>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.SharedSource.DynamicSites.Pipelines.HttpRequest.DynamicSiteResolver, Sitecore.SharedSource.DynamicSites" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
    <sites>
      <site name="dynamicsites" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    </sites>
    <settings>
      <!--  Dynamic Sites - Disabled
            Disables The Dynamic Sites Module without having to remove components.
            Default: false
      -->
      <setting name="DynamicSites.Disabled" value="false" />
      <!--  Dynamic Sites - Settings Item Path
            Sets the path of the Default Dynamic Sites Setting Item.
            Default: /sitecore/system/Modules/Dynamic Sites/Dynamic Site Settings
            Can be moved as needed.
      -->
      <setting name="DynamicSites.SettingsItemPath" value="/sitecore/system/Modules/Dynamic Sites/Dynamic Site Settings" />
      <!--  Dynamic Sites - Default Site Name
            Sets the path of the Default Dynamic Sites Setting Item.
            Default: /sitecore/system/Modules/Dynamic Sites/Dynamic Site Settings
            Can be moved as needed.
      -->
      <setting name="DynamicSites.SiteName" value="dynamicsites" />
      <!--  Dynamic Sites - Max Cache Size
            Sets the max size of the Dynamic Sites Site Cache.
            Default: 50MB
      -->
      <setting name="DynamicSites.MaxCacheSize" value="50MB" />
    </settings>
  </sitecore>
</configuration>